.loginrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.loginrapper img {
    width: 250px;
}
.gamil_login {
    background-color: #4385f5;
    border: 0;
    padding: 9px 9px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
}